<body>

    <div class="jumbotron" style="background-color:ActiveBorder">
        <h1 class="display-4" style="font-family:Algerian">Welcome To Amazing Vision Cosmetics.</h1>
        <p class="lead">We are all about your glow , Amazing vision cosmetics is found on the basis of helping humanity with our products, we are here to serve you to the fullest.</p>
        <hr class="my-4">
        <p>We are 100% safe , you can trust us with your glow and your satisfaction is our priority.</p>
    </div>
    <br />

    <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center; font-family:'Microsoft Sans Serif'; font-size:larger"  >Dealers On...</h5>
                <p class="card-text" style=" font-family:'Microsoft Sans Serif'">We are dealers on series of body moisturizers, like creams, oils, serums, Rose water, lotions, soaps,. We can help/assist you in our various areas of specialization.
                 do well to cantact us with our contact information.</p>
            </div>
            @*<img src="~/Content/img/set-of-cosmetic-products-on-marble-shelf-in-modern-room-4202326.jpg" class="card-img-top" alt="..." height="600">*@
        </div>


    @*<div class="card mb-3" style="max-width: 700px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Content/img/set-of-cosmetic-products-on-marble-shelf-in-modern-room-4202326.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center; font-family:'Microsoft Sans Serif'; font-size:larger">Dealers On...</h5>
                    <p class="card-text" style=" font-family:'Microsoft Sans Serif'">
                        We are dealers on series of body moisturizers, like creams, oils, serums, Rose water, lotions, soaps,. We can help/assist you in our various areas of specialization.
                        do well to cantact us with our contact information.
                    </p>
                </div>
            </div>
        </div>
    </div>*@










</body>