

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/img/istockphoto-1169634829-170667a.jpg" class="d-block w-100" alt="..." height="700">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/person-applying-hand-cream-3762875.jpg" class="d-block w-100" alt="..." height="700">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/woman-holding-black-mask-373939.jpg" class="d-block w-100" alt="..." height="700" />
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">


            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3>Your skin  <span>glow</span> is our priority!</h3>
                    <p>

                        A great body lotion is sure to make you feel tip-top. Not just when it comes to keeping your skin smooth, moisturised and glowing, but also to give you a little hit of confidence and a mood boost on the roughest days. So imagine pampering yourself for even less, and getting hold of your favourite body lotion from us, Our online collection helps you do just that.
                    </p>
                </div>
            </div>
            <br />
            <div>
                <div class="row">
                    <div class="col-md-4 col-sd-12">
                        <img src="~/Content/img/pexels-photo-2744193.jpeg" card-img" alt="display" height="250">
                    </div>
                    <div class="col-md-4 col-sd-12">
                        <img src="~/Content/img/pexels-photo-2744193.jpeg" card-img" alt="display" height="250">
                    </div>
                    <div class="col-md-4 col-sd-12">
                        <img src="~/Content/img/pexels-photo-2744193.jpeg" card-img" alt="display" height="250">
                    </div>
                </div>
            </div>
            <br />
            <div class="card-deck row">
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0037.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0041.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0043.jpg" class="card-img-top" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0044.jpg" class="card-img-top" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0081.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
            </div>
            <br />
            <div class="card-deck row">
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0045.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0046.jpg" class="card-img-top" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0047.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0048.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0072.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
            </div>
            <br />
            <div class="card-deck row">
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0091.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0094.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0095.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0096.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0067.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
            </div>
            <br />
            <div class="card-deck row">
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0052.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0054.jpg" class="card-img-top" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0055.jpg" class="card-img-top" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0056.jpg" class="card-img-top" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0098.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
            </div>
            <br />
            <div class="card-deck row">
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0119.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0103.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0100.jpg" class="card-img-top " style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0099.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0097.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
            </div>
            <br />
            <div class="card-deck row">
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0053.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0088.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0089.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0057.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
                <div class="card col-3">
                    <img src="~/Content/img/IMG-20200611-WA0087.jpg" class="card-img-top" style="height:150px" alt="...">


                </div>
            </div>
            <br />
            

        </section><!-- End Cta Section -->
    </main><!-- End #main -->
